div.container
    h2 数据库测试
    form#loginForm(action="") 
        div.form-group
            label(for="username") 用户名
                input#username(type="text" required)  
        div.form-group 
            label(for="password") 密码
                input#password(type="password" required)
        button#loginBtn(type="button") 登录
        button#registerBtn(type="button") 注册
        div.result 暂无数据
            

    